form {
  width: 100%; 
}
form img{
	width:30px;
}
label,
input,span{
  display: inline-block;
}

label {
  width: 25%;
  text-align: left;
  font-size:12pt;
}

label+input {
  width: 40%;
  margin: 1% 10% 0 2%;
}
span +input {
  width: 40%;
  margin: 1% 10% 0 2%;
}
input+input {
  float: right;
}
.search-box,textarea,select,input[type=text],input[type=email],input[type=number],input[type=date]{
  border-radius: 4px;
  box-sizing: border-box;
  border:1px solid gray;
  width:45%;
  height:30px;
   margin: 1% 10% 0 2%;
}
input[type=checkbox]{
  box-sizing: border-box;
}
input[type=submit]{
	width:80px;
	margin: 1% 10% 0 2%;
	border:1px solid green;
	border-radius:7%;
	color:#fff;
	background:green;
	padding:3 7;
	font-size:12pt;
}
